*{
    box-sizing: border-box;
}

.container {
    margin: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myp{
    width: 45%;
    color: #aaaaaa;
    text-transform: none;
    text-align: center;
    font-size: 15px;
}

.m-0 {
    margin: 0 !important;
}

.mt-5{
    margin: 0;
    margin-top: 1.5rem !important;
}
.text-bolder {
    font-weight: bolder !important;
}

.text-lighter {
    font-weight: lighter !important;
}

.text-gray {
    color: #aaaaaa !important;
}
.box {
    display: flex;
    flex-direction: row;
}

.sub-box1 , .sub-box2 , .sub-box3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box2 {
    flex-direction: column;
}

.card {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr 2fr 1fr;
    width: 250px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.card-success {
    border-top: 3px solid  !important;
}

.card-red {
    border-top: 3px solid hsl(0, 78%, 62%) !important;
}

.card-cyan {
    border-top: 3px solid hsl(180, 62%, 55%) !important;
}

.card-orange {
    border-top: 3px solid  hsl(34, 97%, 64%) !important;
}

.card-blue {
    border-top: 3px solid hsl(212, 86%, 64%);
}

.card-header {
    padding: 30px 30px 5px 30px;
}

.card-body {
    display: flex;
    padding: 0 30px;
    font-size: 10px;
    color: #aaaaaa;
    justify-content: start;
}

.card-image {
    position: relative;
}

.img {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 24px;
    /*margin-left: auto !important;*/
}
.font-16 {
    font-size: 16px !important;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {

    .container {
        margin: 4%;
    }

    .box{
        display: block;
    }
    h2, p, .myp {
        width: 100%;
        margin: 10px;
        text-align: center;

    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem !important;
    }
}